/*.card{
    display: -webkit-inline-box;
    padding: 10px;
    width: -webkit-fill-available;

}
.card-body{
    width:70%

}
.img{
 width:100px;
 height: 100px;
}*/
.modal-header{
    background: rgba(0, 0, 0, 0.9);
    color: white;
}